.container {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #000;
}

.page {
  width: 100%;
  display: flex;
  justify-content: center;
}
